<div class="center jumbotron">
  <h1>Welcome to PODZ</h1>

  <h2>
    A platform for renting services and goods
  </h2>

  <% unless logged_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

<div>
  <h1>Most Popular Items</h1>
  <div class="item_table">
    <div class="table_content">
      <%= render 'items/item_header' %>
    </div>
    <div class="table_content">
      <%= render @items %>
    </div>
  </div>
</div>

<% if logged_in? %>
  <div>
    <hr>
    <h1>Highest Rated Users</h1>
    <div class="item_table">
      <div class="table_content">
        <%= render 'users/user_header' %>
      </div>
      <div class="table_content">
        <%= render @users %>
      </div>
    </div>
  </div>
<% end %>

<script>
    <%= render partial: "favorites/favorite_ajax_request.js", locals: { items: @items } %>
</script>