<div class="center jumbotron">
  <h1>Welcome to PODZ</h1>

  <h2>
    A platform for renting services and goods
  </h2>

  <% unless logged_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

<% cache(cache_key_for_top_item_table) do %>

<div>
  <h1>Most Popular Items</h1>
  <div class="item_table">
    <div class="table_content">
      <%= render 'items/item_header' %>
    </div>
    <div class="table_content">
      <% @items.each do |item| %>
        <% cache(cache_key_for_top_item(item)) do %>
          <%= render item %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% end %>

<% cache(cache_key_for_top_user_table) do %>

<% if logged_in? %>
  <div>
    <hr>
    <h1>Highest Rated Users</h1>
    <div class="item_table">
      <div class="table_content">
        <%= render 'users/user_header' %>
      </div>
      <div class="table_content">
        <% @users.each do |user| %>
          <% cache(cache_key_for_top_user(user)) do %>
            <%= render user %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% end %>

<script>
    <%= render partial: "favorites/favorite_ajax_request.js", locals: { items: @items } %>
</script>