<% provide(:title, @user.display_name) %>
<h1><%= @user.display_name %></h1>

<button class="btn btn-primary" data-toggle="collapse" data-target="#biography">Biography</button>
<div id="biography" class="collapse in">
  <% if @user.biography.blank? %>
    This user has not filled in a biography
  <% else %>
    <%= @user.biography %>
  <% end %>
</div>

<hr>

<button class="btn btn-primary" data-toggle="collapse" data-target="#items">Items Offered</button>
<div id="items" class="collapse">
  <% if @items.length > 0 %>
    <table class="item_table">
      <thead class="table_content">
      <%= render 'items/item_header', owner: true %>
      </thead>
      <tbody class="table_content">
      <%= render @items %>
      </tbody>
    </table>
  <% else %>
    This user does not have any items for rent
  <% end %>
</div>

<hr>

<button class="btn btn-primary" data-toggle="collapse" data-target="#favorites">Favorites</button>
<div id="favorites" class="collapse">
  <% get_favorites(@user) %>
  <% if !@favorites.nil? %>
    <table class="item_table">
      <thead class="table_content">
      <%= render 'items/item_header', owner: true %>
      </thead>
      <tbody class="table_content">
      <%= render @favorite_items %>
      </tbody>
    </table>
  <% else %>
    This user does not have any favorited items
  <% end %>
</div>

<hr>

<button class="btn btn-primary" data-toggle="collapse" data-target="#reviews">Toggle Reviews</button>

<div id="reviews" class="collapse">
<% if @reviews.length > 0 %>
  <br>
    <table class="item_table">
      <thead class="table_content">
      <%= render 'reviews/review_header' %>
      </thead>
      <tbody class="table_content">
        <%= render @reviews %>
      </tbody>
    </table>

<% else %>
    This user does not have any reviews yet
<% end %>
</div>

<hr>

<button class="btn btn-primary" data-toggle="collapse" data-target="#rented_items">Items currently rented</button>
<div id="rented_items" class="collapse">
  <% if @rented_items.length > 0 %>
    <table class="item_table">
      <thead class="table_content">
      <%= render 'items/item_header' %>
      </thead>
      <tbody class="table_content">
      <%= render @rented_items %>
      </tbody>
    </table>
  <% else %>
    This user does not have any rentals yet
  <% end %>
</div>

<hr>

<button class="btn btn-primary" data-toggle="collapse" data-target="#prev_rented_items">Items previously rented</button>
<div id="prev_rented_items" class="collapse">
  <% if @prev_rented_items.length > 0 %>
    <table class="item_table">
      <thead class="table_content">
      <%= render 'items/item_header' %>
      </thead>
      <tbody class="table_content">
      <%= render @prev_rented_items %>
      </tbody>
    </table>
  <% else %>
    This user does not have any history
  <% end %>
</div>