<% provide(:title, @user.display_name) %>
<h1><%= @user.display_name %></h1>

<button class="btn btn-primary" data-toggle="collapse" data-target="#biography">Biography</button>
<div id="biography" class="collapse in">
  <% if @user.biography.blank? %>
    This user has not filled in a biography
  <% else %>
    <%= @user.biography %>
  <% end %>
</div>

<hr>

<button class="btn btn-primary" data-toggle="collapse" data-target="#items">Items Offered</button>
<div id="items" class="collapse">
  <% if @items.length > 0 %>
    <table class="item_table">
      <thead class="table_content">
      <tr class="list_header">
        <th class="list_item_text">Title</th>
        <th class="list_item_text">Description</th>
        <th class="list_item_text">Available</th>
        <th class="list_item_text">Category</th>
        <th class="list_item_gap"></th>
        <th class="list_item_gap"></th>
        <th class="list_item_gap"></th>
      </tr>
      </thead>

      <tbody class="table_content">
      <% @items.each do |item| %>

        <tr class="list_item">
          <td class="list_item_text"><%= item.title %></td>
          <td class="list_item_text"><%= item.description %></td>
          <td class="list_item_text"><%= item.available %></td>
          <td class="list_item_text"><%= item.category_id %></td>

          <td class="list_item_button">
            <%= link_to 'Show', item, class: 'list_item_button action' %>
          </td>
          <td class="list_item_button">
            <%= link_to 'Edit', edit_item_path(item), class: 'list_item_button action' %>
          </td>
          <td class="list_item_button">
            <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'list_item_button action delete' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    This user does not have any items for rent
  <% end %>
</div>



<hr>

<button class="btn btn-primary" data-toggle="collapse" data-target="#reviews">Toggle Reviews</button>

<% if @reviews.length > 0 %>
  <div id="reviews" class="collapse in">
  <br>
    <table class="item_table">
      <thead class="table_content">
      <tr class="list_header">
        <th class="list_item_text">Item ID</th>
        <th class="list_item_text">Review title</th>
        <th class="list_item_text">Review description</th>
        <th class="list_item_text">Rating</th>
        <th class="list_item_text">Actions</th>
        <th class="list_item_gap"></th>
      </tr>
      </thead>

      <tbody class="table_content">
      <% @reviews.each do |review| %>

        <tr class="list_item">
          <td class="list_item_text"><%= review.item_id %></td>
          <td class="list_item_text"><%= review.title %></td>
          <td class="list_item_text"><%= review.body %></td>
          <td class="list_item_text"><%= review.rating %></td>

          <td class="list_item_button">
            <%= link_to 'Show item', item_path(review.item_id), class: 'list_item_button action' %>
          </td>
          <td class="list_item_button">
            <%= link_to 'Edit review', edit_review_path(review), class: 'list_item_button action' %>
          </td>
          <td class="list_item_button">
            <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }, class: 'list_item_button action delete' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
  <div id="reviews" class="collapse">
    This user does not have any reviews yet
  </div>
  <% end %>