<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @rental.item_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @rental.user_id %>
</p>

<p>
  <strong>Length days:</strong>
  <%= @rental.length_days %>
</p>

<p>
  <strong>Length hours:</strong>
  <%= @rental.length_hours %>
</p>

<p>
  <strong>Note:</strong>
  <%= @rental.note %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
