
<%= form_with(model: item, local: true) do |form| %>
<% if item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

    <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="field">
  <%= form.label :title, class: 'field_label' %>
  <%= form.text_field :title, class: 'text_field name' %>
</div>

<div class="field">
  <%= form.label :description, class: 'field_label' %>
  <%= form.text_area :description, class: 'text_field' %>
</div>

<div class="field">
  <%= form.label :category, class: 'field_label' %>
  <%= form.collection_select :category_id, Category.order(:name),:id,:name, include_blank: false %>

<div class="field">
  <%= form.label :condition, class: 'field_label' %>
  <%= select_tag(:condition, options_for_select(Item.conditions)) %>

</div>

</div>

<div class="field">
  <%= form.label :Hourly_Price, class: 'field_label' %>
  <%= form.text_field :price_hourly_usd, :placeholder => "Hourly Price (USD)", class: 'text_field name' %>
  <%= form.label :Daily_Price, class: 'field_label' %>
  <%= form.text_field :price_daily_usd, :placeholder => "Daily Price (USD)", class: 'text_field name' %>
</div>

<div id="map">
</div>
<input type="hidden" id="user_lat" name="user_lat" value="0">
<input type="hidden" id="user_lng" name="user_lng" value="0">

<script type="text/javascript">
    var map, infoWindow;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 13
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                document.getElementById("user_lat").value = pos.lat;
                document.getElementById("user_lng").value = pos.lng;

                var infowindow = new google.maps.InfoWindow({
                    content: "Your position, yey"
                });

                var marker = new google.maps.Marker({
                    position: pos,
                    map: map,
                    title: 'Hello World!',
                    draggable: true,
                    id: 'current'
                });

                google.maps.event.addListener(marker, 'dragend', function(evt){
                    map.setCenter(marker.position);
                    marker.setMap(map);
                    document.getElementById("user_lat").value = marker.position.lat();
                    document.getElementById("user_lng").value = marker.position.lng();
                });


                marker.addListener('click', function() {
                    infowindow.open(map, marker);
                });

                marker.setMap(map);
                //moveBus( map, marker );


                //infoWindow.setPosition(pos);
                //infoWindow.setContent('Location found.');
                ///infoWindow.open(map);
                map.setCenter(pos);
            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function moveBus( map, marker ) {

        marker.setPosition( new google.maps.LatLng( 0, 0 ) );
        map.panTo( new google.maps.LatLng( 0, 0 ) );

    }



    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }

    initMap();


</script>


<div class="actions">
  <%= form.submit class: 'submit_button' %>
</div>
<% end %>
