<div class="list_item">

  <% if logged_in? %>
    <div class="fav_container", id="<%= item.id %>">
      <div class="list_item_button">
        <%= render partial: "favorites/favorite_button", locals: { item: item }%>
      </div>
    </div>
  <% end %>
  <div class="text_container">

    <div class="list_item_text"><%= item.title %></div>
    <div class="list_item_text"><%= display_availability(item.available) %></div>
    <div class="list_item_text"><%= display_category(item.category) %></div>
  </div>
  <div class="button_container">
    <div class="list_item_button">
      <%= link_to 'Show', item, class: 'list_item_button action' %>
    </div>

    <div class="list_item_button">
      <button class="empty_btemplate">Show</button>
    </div>
  </div>
</div>