<div class="list_item">
  <div class="fav_container" id="<%= item.id %>">
    <% if logged_in? %>
      <div class="list_item_button">
          <%= link_to image_tag("empty_star.png"), favorite_path(item_id: item.id), remote: true, method: :post %>
      </div>
    <% end %>
  </div>
  <div class="text_container">

    <div class="list_item_text"><%= item.title %></div>
    <div class="list_item_text"><%= display_availability(item.available) %></div>
    <div class="list_item_text"><%= display_category(item.category) %></div>
  </div>
  <div class="button_container">
    <div class="list_item_button">
      <%= link_to 'Show', item, class: 'list_item_button action' %>
    </div>

    <div class="list_item_button">
      <button class="empty_btemplate">Show</button>
    </div>
  </div>
</div>