<p id="notice"><%= notice %></p>

<h1>Items</h1>

<h3 align="center">What are you looking for?</h3>
<div class="search-input-group" align="center">
  <div class="form-inline search" align="center">
    <%= form_tag items_path, method: :get do %>
      <%= select_tag 'category_search', options_from_collection_for_select(Category.all, "id", "name", @category), include_blank: "All", onchange: "this.form.submit();"%>
      <%= text_field_tag('keyword_search', nil, :placeholder=> search_display) %>
      <button type="submit" class="btn btn-primary">Search</button>
    <% end %>

  </div>
</div>

<hr>

<div id="available">
  <table class="item_table">
    <thead class="table_content">
      <tr class="list_header">
        <th class="list_item_text">Title</th>
        <th class="list_item_text">Description</th>
        <th class="list_item_text">Available</th>
        <th class="list_item_text">Category</th>
        <th class="list_item_gap"></th>
        <th class="list_item_gap"></th>
        <th class="list_item_gap"></th>
      </tr>
    </thead>

    <tbody class="table_content">
      <% @items_free.each do |item| %>
        <tr class="list_item">
          <td class="list_item_text"><%= item.title %></td>
          <td class="list_item_text"><%= item.description %></td>
          <td class="list_item_text"><%= item.available %></td>
          <td class="list_item_text"><%= item.category_id %></td>

          <td class="list_item_button">
            <%= link_to 'Show', item, class: 'list_item_button action' %>
          </td>
          <td class="list_item_button">
            <%= link_to 'Edit', edit_item_path(item), class: 'list_item_button action' %>
          </td>
          <td class="list_item_button">
            <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'list_item_button action delete' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<hr>

<button class="btn btn-primary" style="margin-bottom: 1em" data-toggle="collapse" data-target="#rented">Show Unavailable</button>

<div id="rented" class="collapse">
  <table class="item_table">
    <thead class="table_content">
    <tr class="list_header">
      <th class="list_item_text">Title</th>
      <th class="list_item_text">Description</th>
      <th class="list_item_text">Available</th>
      <th class="list_item_text">Category</th>
      <th class="list_item_gap"></th>
      <th class="list_item_gap"></th>
      <th class="list_item_gap"></th>
    </tr>
    </thead>

    <tbody class="table_content">
      <% @items_rented.each do |item| %>
        <tr class="list_item">
          <td class="list_item_text"><%= item.title %></td>
          <td class="list_item_text"><%= item.description %></td>
          <td class="list_item_text"><%= item.available %></td>
          <td class="list_item_text"><%= item.category_id %></td>

          <td class="list_item_button">
            <%= link_to 'Show', item, class: 'list_item_button action' %>
          </td>
          <td class="list_item_button">
            <%= link_to 'Edit', edit_item_path(item), class: 'list_item_button action' %>
          </td>
          <td class="list_item_button">
            <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'list_item_button action delete' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>