<p id="notice"><%= notice %></p>

<h1>Items</h1>

<h3 align="center">What are you looking for?</h3>
<div class="search-input-group" align="center">
  <div class="form-inline search" align="center">
    <%= form_tag items_path, method: :get do %>
      <%= select_tag 'category_search', options_from_collection_for_select(Category.all, "id", "name", @category), include_blank: "All", onchange: "this.form.submit();"%>
      <%= text_field_tag('keyword_search', nil, :placeholder=> search_display, class: 'text_field name') %>
      <button type="submit" class="btn btn-primary">Search</button>
    <% end %>

  </div>
</div>

<hr>

<% cache(cache_key_for_item_table) do %>

<div id="available">
  <div class="item_table">
    <div class="table_content">
    <%= render 'item_header', owner: false %>
    </div>
    <div class="table_content">
      <% @items_free.each do |item| %>
        <% cache(cache_key_for_item(item)) do %>
          <%= render item %>
        <% end %>
      <% end %>
      <%= will_paginate @items_free %>
    </div>
  </div>
</div>

<% end %>

<hr>

<button class="btn btn-primary" style="margin-bottom: 1em" data-toggle="collapse" data-target="#rented">Show Unavailable</button>

<% cache(cache_key_for_item_table) do %>

<div id="rented" class="collapse">
  <div class="item_table">
    <div class="table_content">
      <%= render 'item_header' %>
    </div>
    <div class="table_content">
      <% @items_rented.each do |item| %>
        <% cache(cache_key_for_item(item)) do %>
          <%= render item %>
        <% end %>
      <% end %>
      <%= will_paginate @items_rented %>
    </div>
  </div>
</div>

<% end %>

<script>
  <%= render partial: "favorites/favorite_ajax_request.js", locals: { items: @items_free + @items_rented } %>
</script>