<p id="notice"><%= notice %></p>

<h1>Items</h1>

<h3 align="center">What are you looking for?</h3>
<div class="search-input-group" align="center">
  <div class="form-inline search" align="center">
    <%= form_tag items_path, method: :get do %>
      <%= select_tag 'category_search', options_from_collection_for_select(Category.all, "id", "name", @category), include_blank: "All", onchange: "this.form.submit();"%>
      <%= text_field_tag('keyword_search', nil, :placeholder=> search_display, class: 'text_field name') %>
      <button type="submit" class="btn btn-primary">Search</button>
    <% end %>

  </div>
</div>

<hr>

<div id="available">
  <table class="item_table">
    <thead class="table_content">
    <%= render 'item_header', owner: false %>
    </thead>
    <tbody class="table_content">
      <%= render @items_free %>
    </tbody>
  </table>
</div>

<hr>

<button class="btn btn-primary" style="margin-bottom: 1em" data-toggle="collapse" data-target="#rented">Show Unavailable</button>

<div id="rented" class="collapse">
  <table class="item_table">
    <thead class="table_content">
      <%= render 'item_header' %>
    </thead>
    <tbody class="table_content">
      <%= render @items_rented %>
    </tbody>
  </table>
</div>