<p id="notice"><%= notice %></p>

<h1>Items</h1>

<h3 align="center">What are you looking for?</h3>
<div class="search-input-group" align="center">
  <div class="form-inline search" align="center">
    <%= form_tag items_path, method: :get do %>
      <%= select_tag 'category_search', options_from_collection_for_select(Category.all, "id", "name", @category), include_blank: "All", onchange: "this.form.submit();"%>
      <%= text_field_tag('keyword_search', nil, :placeholder=> search_display, class: 'text_field name') %>
      <button type="submit" class="btn btn-primary">Search</button>
    <% end %>

  </div>
</div>

<hr>

<% cache ["page-#{params[:page]}/category-#{params[:category_search]}/keyword-#{params[:keyword_search]}/last_item-#{@items.last.id}",
          @items.maximum('items.updated_at')] do %>

<%= will_paginate @items %>
<div class="item_table">
  <div class="table_content">
  <%= render 'item_header', owner: false %>
  </div>
  <div class="table_content">
    <% @items.each do |item| %>
      <% cache(cache_key_for_item(item)) do %>
        <%= render item %>
      <% end %>
    <% end %>
  </div>
</div>
<%= will_paginate @items %>

<% end %>

<script>
  <%= render partial: "favorites/favorite_ajax_request.js", locals: { items: @items } %>
</script>