<p id="notice"><%= notice %></p>


<div class="item_container">
  <h1 class="item_title"><%= @item.title %></h1>

  <div class="item_sub_container">
    <p>
      <strong>Description:</strong>
      <%= @item.description %>
    </p>
    <p>
      <strong>Condition:</strong>
      <%= @item.condition %>
    </p>

    <p>
      <strong>Hourly price USD:</strong>
      <%= @item.price_hourly_usd %>
    </p>

    <p>
      <strong>Daily price USD:</strong>
      <%= @item.price_daily_usd %>
    </p>


    <p>
      <strong>Available:</strong>
      <% if @item.available %>
        Yes
      <% else %>
        No
      <% end %>
    </p>

    <% unless current_user.nil? %>
      <% if @item.available and !item_owned(current_user.id, @item.user_id) %>

        <%= link_to 'Rent',
                    rent_path(item_id: @item),
                    method: :post,
                    data: { confirm: 'Are you sure you want to rent?', item: @item },
                    class: 'primary_button'
        %>

      <% elsif !@item.available and item_rented(current_user.id, @item.id) %>
        <%= link_to 'Check in item',
                    checkin_path(item_id: @item),
                    method: :post,
                    data: { confirm: 'Are you sure you want to check in the item?', item: @item },
                    class: 'primary_button'
        %>
      <% end %>
    <% end %>


    <div class="bottom_buttons">
      <%= link_to 'Edit', edit_item_path(@item) ,class: "primary_button light"%>
      <%= link_to 'Back', items_path ,class: "primary_button light"%>
      <%if  @isPrevRented and !@isPrevReviewed %>
      <button class="primary_button light" data-toggle="collapse" data-target="#review">Write a review</button>
      <% end %>
    </div>

  </div>


</div>


<div id="map-container">
  <div id="map">
  </div>
</div>


<input type="hidden" id="item_lat" name="item_lat" value='<%= @item.latitude %>'>
<input type="hidden" id="item_lng" name="item_lng" value='<%= @item.longitude %>'>

<script type="text/javascript">
    var map, infoWindow;
    function initMap() {

        var latitude = parseFloat(document.getElementById("item_lat").value);
        var longitude = parseFloat(document.getElementById("item_lng").value);

        console.log('COMING Lat');
        console.log(latitude);

        var pos = {
            lat: latitude,
            lng: longitude
        };

        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: latitude,
                lng: longitude
            },
            zoom: 13
        });

        var infowindow = new google.maps.InfoWindow({
            content: "Items position"
        });

        var marker = new google.maps.Marker({
            position: pos,
            map: map,
            title: 'Hello!'
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });

        marker.setMap(map);
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }

    initMap();


</script>


<%if  @isPrevRented and !@isPrevReviewed %>
  <div id="review" class="collapse">
  <div class="review_container">
    <%= render 'reviews/form', review: @review %>
  </div>
  </div>
<% end %>


<hr>

<h2 id="reviews_title">Reviews</h2>

<table class="item_table">
  <% if @reviews.count != 0 %>
  <thead class="table_content">

    <tr class="list_header">

      <div class="text_container">
        <th class="list_item_text">Title</th>
        <th class="list_item_text">Review</th>
        <th class="list_item_text">Rating</th>
        <th class="list_item_text">User</th>
      </div>
    </tr>
  </thead>
  <% else %>
    <div id="no_review_container">
      <h4 id="no_reviews_title">No reviews to show!</h4>
    </div>
  <% end %>

  <tbody class="table_content">

    <% @reviews.each do |review| %>

      <tr class="list_item">
        <div class="text_container">
          <td class="list_item_text"><%= review.title %></td>
          <td class="list_item_text"><%= review.body %></td>
          <td class="list_item_text"><%= review.rating %>/5</td>
          <td class="list_item_text"><%= get_display_name(review) %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>


<h2 id="reviews_title">Rentals</h2>

<table class="item_table">
  <% if @rentals.count != 0 %>
    <thead class="table_content">

    <tr class="list_header">

      <div class="text_container">
        <th class="list_item_text">Name</th>
        <th class="list_item_text">Rental length</th>
        <th class="list_item_text">Check-in date</th>
      </div>
    </tr>
    </thead>
  <% else %>
    <div id="no_review_container">
      <h4 id="no_reviews_title">No rentals to show!</h4>
    </div>
  <% end %>

  <tbody class="table_content">

  <% @rentals.each do |rental| %>

    <tr class="list_item">
      <div class="text_container">
        <td class="list_item_text"><%= display_renter_title(rental) %></td>
        <td class="list_item_text">To be configured</td>
        <td class="list_item_text"><%= rental.check_in_date %></td>
      </div>
    </tr>
  <% end %>
  </tbody>
</table>
