<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<div class="item_table">
  <div class="table_content">
    <div class="list_header">
      <div class="text_container">
        <p class="list_item_text header">Name</p>
        <p class="list_item_text header">Description</p>
      </div>
      <div class="button_container">

        <div class="list_item_button">
          <button class="empty_btemplate">Show</button>
        </div>
        <% if admin? %>
          <div class="list_item_button">
            <button class="empty_btemplate">Show</button>
          </div>
          <div class="list_item_button">
            <button class="empty_btemplate">Show</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="table_content">
    <% @categories.each do |category| %>
      <div class="list_item">

        <div class="text_container">
          <p class="list_item_text"><%= category.name %></p>
          <p class="list_item_text"><%= category.description %></p>
        </div>

        <div class="button_container">
          <div class="list_item_button">
            <%= link_to 'Show', category, class: 'list_item_button action' %>
          </div>
          <% if admin? %>
            <div class="list_item_button">
              <%= link_to 'Edit', edit_category_path(category), class: 'list_item_button action' %>
            </div>
            <div class="list_item_button">
              <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'list_item_button action delete' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<% if admin? %>
  <%= link_to 'New Category', new_category_path %>
<% end %>