<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table class="item_table">
  <thead class="table_content">
    <tr class="list_header">
      <th class="list_item_text">Name</th>
      <th class="list_item_text">Description</th>
      <th class="list_item_gap"></th>
      <th class="list_item_gap"></th>
      <th class="list_item_gap"></th>
    </tr>
  </thead>

  <tbody class="table_content">
    <% @categories.each do |category| %>
      <tr class="list_item">
        <td class="list_item_text"><%= category.name %></td>
        <td class="list_item_text"><%= category.description %></td>
        <td class="list_item_button">
          <%= link_to 'Show', category, class: 'list_item_button action' %>
        </td>
        <% if admin? %>
          <td class="list_item_button">
            <%= link_to 'Edit', edit_category_path(category), class: 'list_item_button action' %>
          </td>
          <td class="list_item_button">
            <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'list_item_button action delete' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin? %>
  <%= link_to 'New Category', new_category_path %>
<% end %>