<tr class="list_item">
  <div class="text_container">
  <td class="list_item_text"><%= display_item_title(review) %></td>
  <td class="list_item_text"><%= review.title %></td>
  <td class="list_item_text"><%= review.body %></td>
  <td class="list_item_text"><%= review.rating %>/5</td>
  </div>
  <div class="button_container">
  <td class="list_item_button">
    <%= link_to 'Show', item_path(review.item_id), class: 'list_item_button action' %>
  </td>

  <% if current_user?(review.user) %>
    <td class="list_item_button">
      <%= link_to 'Edit', edit_review_path(review), class: 'list_item_button action' %>
    </td>
    <td class="list_item_button">
      <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }, class: 'list_item_button action delete' %>
    </td>
  <% end %>
  </div>
</tr>